.music-player {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 0px 20%;
    z-index: 0;
    height: $music-player-height;

    background-color: black;


    .music-player-content {
        .icon {
            height: $music-player-height - 10px;
        }

        .info {
            font-weight: bold;
            color: white;
            position: relative;
            overflow: hidden;
        }
    }

    .center {
        font-size: 26px;

        .play {
            font-size: 30px;
            position: relative;
            top: -4px;
        }
    }



    .volumne {
        font-size: 26px;
    }

    .volumne-bar {
        width: 40%;
    }

    .playlist {
        width: 30px;
        height: 30px;
        font-size: 26px;
    }

    .center>*:hover,
    .volumne>*:hover,
    .playlist:hover {
        color: white;
    }

    .name {
        white-space: nowrap;
        overflow: hidden;
        min-width: 270px;

        .text {
            overflow: hidden;
            position: absolute;
            animation: move linear 12.5s infinite;
            text-decoration: none;
            min-width: 100%;
            z-index: -99;
        }

        @keyframes move {
            from {
                transform: translateX(0%);
            }

            to {
                transform: translateX(-40%);
            }
        }
    }
}

.play-bar {
    position: absolute;
    top: -9px;
    width: 50%;

    
}
input[type=range] {
    width: 100%;
    border-radius: 8px;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to right, #ffb310 0%, #ffb310 50%, #454545 50%, #454545 100%);
    cursor: pointer;
    height: 5px;
}

// input[type=range]::-webkit-slider-runnable-track {
//     background: grey !important;
//     height: 0.5rem !important;
//     border-radius: 8px;

// }

input[type=range]::-webkit-slider-thumb:hover {
    background-color: #ff4e08 !important;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff4e08;
    height: 15px;
    width: 15px;
    border-radius: 24px;
    margin-top: -2px;
}